/* Стили селектора начало */
.dropdown-container {
  text-align: left; /* Выравнивает содержимое контейнера в лево */
  border: 1px solid #ccc; /* Сделать рамку контейнера толщиной 1px  и цветом #ccc */
  position: relative; /* Относительное позиционирование сдвигает элемент относительно его обычного положения */
  border-radius: 5px; /* Как скругляются границы блока */
  background-color: #f99d1c; /* фоновый цвет */
  width: 300px; /* Ширина контейнера */
  /* margin-left: 400px; */
}

.dropdown-input {
  padding: 5px; /* Свойство padding устанавливает внутренние отступы/поля со всех сторон элемента. Область отступов это пространство между содержанием элемента и его границей. */
  display: flex; /* Внутренние div-ы выстраиваются в ряд (вдоль главной оси) колонками одинаковой высоты, независимо от содержимого. 
                display: flex; делает все дочерние элементы резиновыми — flex , а не инлайновыми или блочными, как было изначально. */
  align-items: center; /* Свойство align-items задает выравнивание элементов вдоль поперечной оси. Применяется к родительскому элементу для flex блоков. */
  justify-content: space-between; /* определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера */
  user-select: none; /* определяет, может ли пользователь выбрать текст. Значение по умолчанию -"auto": Для псевдоэлементов ::before и ::after вычисленное значение - "none */
  /* background-color: #f99d1c; */
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
/* Стили селектора конец */

/* Стили инпута криптовалюты начало */
.first_input_glav {
  text-align: left; /* Выравнивает содержимое контейнера в лево */
}

.input {
  width: 294px; /* Ширина контейнера */
  height: 30px;
}
/* Стили инпута криптовалюты конец */

/* Стили инпута обычной валюты начало */
.first_input_glav2 {
  text-align: right; /* Выравнивает содержимое контейнера в лево */
}
/* Стили инпута обычной валюты конец */
